table, th, td{
	border: 1px solid black;
}
table{
	width: 30%;
}
th{
	height: 40px;
	font-size: 20px;
}
td{
	height: 30px;
	text-align: center;
}
h1{
	text-align: center;
	font-size: 42px;
}
body{
	margin: 50px;
}
.dia{
	font-size: 25px;
	text-align: center;
}
.recet{
	font-size: 20px;
	color: red;
}
.formula{
	font-size: 30px;
}